<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #video{
    position:fixed;
    right:0;
    bottom:50%;
    min-width:100%;
    min-height:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    z-index:0;
    }

</style>
<body>
<div>
    <video id="video" loop="loop" muted="muted" autoplay="true" preload="auto" name="video">
        <source src="{% static 'final_5f880043e746f60077f7612b_969552.mp4' %}" type="video/mp4">
        video not supported
    </video>
</div>
<div class="text" style="justify-content:center; align-items:center; color:black; z-index:1; padding-top:25%;">
    <h1 style="justify-content:center; padding-left:40%; font-family: 'Poppins', sans-serif;">MEMBER</h1>
    <p style="padding-right:20%; padding-left:20%; font-family: 'Poppins', sans-serif; font-size:20px; letter-spacing:1px;">A random paragraph can also be an excellent way for a writer to tackle writers' block. Writing block can often happen due to being stuck with a current project that the writer is trying to complete. By inserting a completely random paragraph from which to begin, it can take down some of the issues that may have been causing the writers' block in the first place. Beginning Writing Routine . </p>
</div>
<div style="padding-top:5%; align-content:center; justify-content:center; padding-left:45%;">
    <a href="#" type="button" style="border-radius:10%; text-decoration:none; padding:1.5%; align-content:center; justify-content:center; background:black; color:white; font-family: 'Poppins', sans-serif;">REGISTER</a>
</div>
</body>
</html>